.movie-card {
  width: 100%;
  max-width: 220px;
  height: 330px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;     /* ✅ 필수 */
  overflow: visible;      /* ✅ 내부 overlay 보이게 */
}

@media (max-width: 768px) {
    .movie-card {
        width: 85vw;
        height: 50vh;
        margin: 0 auto;
      }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 31, 31, 0.92);
    opacity: 0;
    transition: opacity 0.4s ease;
    color: white;
    font-weight: bold;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 2;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .overlay-title {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
  }
  
  .overlay-divider {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0.5rem 0; /* ✅ 줄과 아래 간격 조절 */
  }
  
  .genre-badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
  }
  
  .rating-info {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
  }

.overlay:hover{
    opacity: 1;
}

.movie-card:hover{
    transform :scale(1.3) translateZ(20px);
    z-index: 2;
}